@import url("https://fonts.googleapis.com/css2?family=Barrio&family=Cutive+Mono&family=Meddon&family=Princess+Sofia&family=Snowburst+One&display=swap");

/* font-family: 'Barrio', cursive;
font-family: 'Cutive Mono', monospace;
font-family: 'Meddon', cursive;
font-family: 'Princess Sofia', cursive;
font-family: 'Snowburst One', cursive; */

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

nav h1 {
  color: #b30070;
  font-family: "Princess Sofia", cursive;
  font-size: 2.4rem;
  letter-spacing: 8px;
  margin-left: 3rem;
  padding: 0.8rem;
}

nav ul {
  font-family: "Cutive Mono", monospace;
  font-size: 2rem;
  text-transform: uppercase;
  margin-right: 3rem;
}
.link {
  font-weight: bold;
  margin-left: 1rem;
  text-decoration: none;
  color: #151a44;
  transition: all 0.3s ease-in-out;
}
.link:hover {
  color: #b30070;
}
