.form-preview {
  margin-top: 2rem;
  border-radius: 10px;
  font-size: 1.2rem;
  width: 40vw;
}
.form-preview .form-title {
  font-size: 2rem;
  color: #b30070;
  padding: 0.75rem;
  margin: 0 2.5rem;
  text-align: center;
  font-family: "Meddon", cursive;
  border-bottom: 1px solid #efefef;
}
.form-wrapper {
  padding: 0.75rem;
  margin: 0 2.5rem;
}
.form-wrapper .form-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1rem;
  padding: 3px 6px;
  margin: 0.5rem 0;
  color: #151a44;
}
