.loading-wrapper {
  background-color: rgba(233, 21, 45, 0.5);
  z-index: 99999;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
